@import"font-awesome.min.css";@import"animate.css";@import"wrapper.css";@import"jquery.ui.min.css";
*{outline:0}
html,body{
    color:#000;
    font-size:13px;
    font-family:Arial,sans-serif;
    margin:0;
    padding:0px;
    width:100%;
    position:relative;
    /*overflow-x:hidden;*/
}
.display-none{display:none;}
.width-49d8p{width: 49.8%!important;}
.top-21{top:21px;}
.height-450{height: 450px;}
.width-50p{width: 50%!important;}
.border-top{border-top: 1px solid #ccc;}
.border-bottom{border-bottom: 1px solid #ccc;}
.border-bottom-none{border-bottom: none !important;}
.border-left{border-left: 1px solid #ccc;}
.border-right{border-right: 1px solid #ccc;}
.margin-left-min-5{margin-left: -5px;;}
.margin-left-min-55{margin-left: -55px}
.margin-right-5{margin-right: 5px;}
.margin-right-55{margin-right: 55px;}
.td-num-center{width:30px;text-align: center;}
.x-inTab{float: left; width: 25.2% !important}
.admin-line-chart{float: left; width: 73%;height: 480px;}
.admin-frame-line-chart{margin-top: -35px;width: 100%; height: 450px;}
.box-photo{width: 24px; height: 24px; float: left; padding: 5px;}
body{float:left;line-height:30px;min-width:1200px!important;overflow:auto}
body#bg-login{background:#ECF7E8 url(../img/xamzo-bg-texture.png)repeat}
#in-cms{float:left;width:100%;position:relative}
.admin-box-one{float:left; width:100%; margin-top: -30px;}
.admin-state-box-1{width: 33% !Important;min-height: 300px; border-right: 1px solid #4B4200}
.admin-state-box-2{float:left;width: 33.5% !Important; border-right: 1px solid #4B4200;min-height: 300px}
h1,h2,h3,h4,h5,h6{padding:0px;margin:0px;text-transform:capitalize}
h1{font-size:48px}h2{font-size:32px}h3{font-size:24px}h4{font-size:18px}h5{font-size:12px}a{color:#333}
iframe{min-height:90px;border:none;width:100%;float:left}
.admin-state-box-3{width: 33% !Important;min-height: 300px;}
pre{display:block;line-height:20px;word-break:break-all;word-wrap:break-word}
code{border:1px solid#bbb;background:#f9f9f9;color:#ff0000;padding:1px 5px}
ul,ol{list-style:none}.font-11{font-size:11px}.font-12{font-size:12px}.font-13{font-size:13px}.left{float:left}
.center{margin:0 auto}
.xamzo-main{
    overflow-y: hidden;
    float:left;
    width:100%;
}
.right{float:right}.hidden{display:none}.block{display:block}.content{padding:10px}.no-margin{margin:0}.no-padding{padding:0}.no-float{float:none!important}.no-border{border:none!important}.partition{width:40%}.clearfix{display:block;clear:both;content:".";height:3%;line-height:0;visibility:hidden}.margintop10{margin-top:10px}.margintop20{margin-top:20px}.xamzo-loginbox .xamzo-logo{background:url(../img/logo-small.png)no-repeat center;height:45px;margin-top:-5px;padding-bottom:40px;text-align:center;width:100%}.xamzo-loginbox, .xamzo-registerbox{width:350px;padding:5px;background:#5ABA3C;margin:12%auto 0 auto;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;-moz-box-shadow:0 0 2px rgba(0,0,0,0.3);-webkit-box-shadow:0 0 2px rgba(0,0,0,0.3);box-shadow:0 0 2px rgba(0,0,0,0.3)}.xamzo-registerbox{padding:0px}.xamzo-registerbox input[type="text"], .xamzo-registerbox input[type="password"], .xamzo-registerbox textarea{width:97%}.xamzo-registerbox .xamzo-oauth{margin-left:-10px}.xamzo-loginboxinner{background:#fff;padding:10px 20px 15px 20px;-moz-border-radius:0 2px 2px 0;-webkit-border-radius:0 0 2px 2px;border-radius:0 0 2px 2px;border:1px solid#eee}.xamzo-loginbox form{display:block;margin-top:20px}.xamzo-loginbox .xamzo-username,.xamzo-loginbox .xamzo-password{background:#eee;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;-moz-box-shadow:0 1px 2px rgba(0,0,0,0.4);-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.4);box-shadow:0 1px 2px rgba(0,0,0,0.4);margin:20px 0 10px 0px;overflow:hidden;border-top:1px solid#bbb}span.error{font-size:12px;color:rgb(236,60,60)}span.xamzo-form-icon{position:absolute;margin:3px 10px;font-size:20px;color:#CCC}.xamzo-loginbox input{padding:11px 35px;border:0;width:330px;box-shadow:none;color:#666}.xamzo-loginbox button{text-align:center;float:right;font-weight:normal;text-transform:uppercase}.xamzo-loginbox .xamzo-keep{margin:0 0 0 -10px;font-size:12px;text-transform:inherit}.xamzo-forgot,.xamzo-oauth{width:350px;margin:2%auto 0 auto;text-transform:capitalize}.xamzo-oauth{text-align:center;border-bottom:1px solid#bbb;position:relative;margin-top:-10px}.xamzo-oauth .oid i.icon-google-plus{font-size:23px;margin-left:2px}.xamzo-oauth .oid i{display:inline-block;margin-top:2px}.xamzo-oauth .oid:hover{color:#555;background:#fff}.xamzo-oauth .oid{text-align:center;color:#666;border:1px solid#bbb;background:#bbb url(../img/xamzo-bg-texture.png)repeat;position:relative;vertical-align:central;top:20px;text-decoration:none;font-size:24px;padding:5px;display:inline-block;width:28px;height:28px;border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%}.xamzo-forgot a:hover{color:#2D9806}.xamzo-error-box{padding-top:13%}.xamzo-error{margin:0 auto;text-align:center;margin:0 auto;text-align:center;background:#FFF6F6;border:1px solid#C23C3C}.xamzo-error h3{text-transform:capitalize;font-size:30px;text-shadow:0 1px 1px rgba(0,0,0,.2)}.xamzo-error p{font-size:18px}.xamzo-errorlist{color:#DE0707}
.xamzo-top{
    float:left;width:100%;position:fixed;min-width:1024px!important;left:0px;top:0px;border-left:5px solid transparent;z-index:1000;
    -webkit-box-shadow:#bbb 0px 2px 2px -1px;
    -moz-box-shadow:#bbb 0px 2px 2px -1px;
    -o-box-shadow:#bbb 0px 2px 2px -1px;
    box-shadow:#bbb 0px 2px 2px-1px;
    background: #f0f0f0 url('../img/xamzo-bg-texture.png');
    /*    background:-moz-linear-gradient(116deg, transparent 130px, #39991A 50px);
        background:-o-linear-gradient(116deg, transparent 130px, #39991A 50px);
        background:-webkit-linear-gradient(116deg, transparent 130px, #39991A 50px);
        background:linear-gradient(116deg, #f9f9f9 120px, #39991A 50px); */
    float: right;
    /*border-bottom:1px solid #ccc !important*/
}
.xamzo-top .left{
    float: left;
    width: 35px;
    padding: 3px 0px 3px 0px;
    position: relative;
    background: transparent url('../img/logo_depkes.png')no-repeat 0px 11px;
    background-size: 39px 35px;
    height: 50px;
    left: -4px;
}
.xamzo-top .mid-logo{
    float: left;
    width: 55px;
    padding: 3px 0px 3px 0px;
    position: relative;
    background: transparent url('../img/aiphss.png')no-repeat 0px 20px; 
    height: 50px;
    background-size: 90%;
}
.xamzo-top .logo{font-size:24px;margin-top:3px}.xamzo-top .left .menu{float:left;margin:2px-10px}
.xamzo-top .left .menu ul{list-style:none;float:left;margin:5px 0px 3px-30px}
.xamzo-top .left .menu li:first-child{border-left:none}.xamzo-top .left .menu li{padding:0px 5px;min-height:23px;margin-top:8px;border-right:1px solid#279ac2;border-left:1px solid#5bc0de;float:left}.xamzo-top .left .menu li:last-child{border-right:none}.xamzo-top .left .menu li i{font-size:17px}.xamzo-top .left .menu li a{padding:5px;color:#bbb;text-decoration:none;font-size:12px}.xamzo-top .left .menu li a:hover{color:#FFF}.xamzo-top .right a.m-menu{padding:0px 5px 0;color:#fff;text-decoration:none}.xamzo-top .center{float:left;left:20px;position:relative}.xamzo-top .center input{float:left;padding:7px;width:100%;margin-top:10px}.xamzo-top .center a.crud-icon{right:-10px!important;top:9px!important}#search-target .content{position:fixed;top:50px;left:0;width:100%;height:96%;z-index:300;float:left;background:#272730!important;opacity:0.9;min-height:100px}#search-target .content .xamzo-btn-icon{position:absolute;right:30px;top:10px;padding:4px 7px}#search-target .content .mod-list{width:100px!important;border:none}#search-target .content .mod-list a{float:left;width:100%;text-align:center;color:#fff;text-decoration:none}#search-target .content .mod-list a img{width:55px;height:55px;border-radius:50%;-moz-border-radius:50%;-o-border-radius:50%;-ms-border-radius:50%;-webkit-border-radius:50%}.xamzo-top .right{color:#fff;padding:6px 8px 6px 10px;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;cursor:pointer;margin:5px 20px 0px 0px;color:#bbb}.modal-box #auth-pp-smile img{float:left;width:45px;height:45px;border:1px solid#bbb;border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;margin:-9px 10px 0 0}.modal-box input.auth-package-search{display:inline;margin:-6px 30px -8px 0;width:20%;height:22px}
.xamzo-userinfo-link{cursor:pointer;color:#333;padding:10px}
.xamzo-userinfo-link img{float:left;border:2px solid#ccc;box-shadow:1px 1px 1px 1px rgba(1,0,0,0.2);background: #ccc}.xamzo-userinfo{padding:10px;color:#fff;float:left;width:50%}.xamzo-userinfo li{text-transform:capitalize}.xamzo-userinfo img{border:1px solid#b9c1ce;vertical-align:middle}.xamzo-avatar{float:left;cursor:pointer;border:5px solid#fff;box-shadow:1px 1px 2px 2px rgba(1,0,0,0.2);margin:20px 10px 10px 10px}.pp-small img{max-width:25px;max-height:25px;min-width:25px;min-height:25px}.xamzo-avatar form{float:left;width:80px;height:80px;margin-bottom:0}.xamzo-avatar img{max-width:80px;max-height:80px;min-width:80px;min-height:80px}.xamzo-avatar form input[type="file"]{display:none}
ul.in-data-notif{margin-top:0px!important;left:-60px!Important;max-height:350px;width:380px;min-height:35px;overflow-y:auto;position:relative;overflow-x:hidden}
ul.in-data-notif-list{margin-top:0px!important;left:-60px!Important;position:relative;width:80%}
ul.in-data-notif a,ul.in-data-comment a,ul.in-data-notif-list a{color:#333}
ul.in-data-notif li,ul.in-data-comment li,ul.in-data-notif-list a{float:left;width:100%}
ul.in-data-notif li.fix-top,ul.in-data-comment li.fix-top{position:fixed;top:56px;z-index:1000;height:20px;background:#fff;width:364px;background:#f9f9f9;vertical-align:bottom}ul.in-data-notif li.fix-top a,ul.in-data-comment li.fix-top a{font-size:12px!Important}ul.in-data-notif li.fix-top a.x-left,ul.in-data-comment li.fix-top a.x-left{float:left}ul.in-data-notif li.fix-top a.x-right,ul.in-data-comment li.fix-top a.x-right{float:right}
ul.in-data-notif li.fix-top a.x-left,ul.in-data-notif li.fix-top a.x-right{margin-top:2px}ul.in-data-comment li.fix-top a.x-left,ul.in-data-comment li.fix-top a.x-right{margin-top:2px}ul.notif-synchronize{margin-left:-80px}ul.notif-comments{margin-left:-120px}ul.notif-synchronize .arrow-up{left:80px!important}ul.notif-comments .arrow-up{left:120px!important}ul.in-data-notif li,ul.in-data-comment li,ul.in-data-notif-list li{padding:5px 8px!important;line-height:15px}ul.in-data-notif li:hover,ul.in-data-comment li:hover,ul.in-data-notif-list li:hover{background:#f9f9f9}ul.in-data-notif li .n-left,ul.in-data-comment li .n-left,ul.in-data-notif-list li .n-left{width:14%!important;margin:5px 5px 1px 1px;min-height:40px;float:left;border:1px solid#ccc;text-align:center;background:#fff}ul.in-data-notif li .n-center,ul.in-data-comment li .n-center,ul.in-data-notif-list li .n-center{width:79%!important;float:left;cursor:pointer}ul.in-data-notif li .n-center p,ul.in-data-comment li .n-center p,ul.in-data-notif-list li .n-center{line-height:18px;padding:0px 5px;font-size:12px;margin:0px}ul.in-data-comment li .n-center p{padding:5px!Important;margin-left:-8px!important}ul.in-data-notif li .n-center span.n-date,ul.in-data-comment li .n-center span.n-date,ul.in-data-notif-list li .n-center span.n-date{color:#888;font-size:10px!Important;padding:0px;float:left}ul.in-data-notif li .n-right,ul.in-data-comment li .n-right,ul.in-data-notif-list li .n-right{width:4%!important;float:right;margin-top:0px;text-align:right!important;padding-right:0px!important;margin-right:0px}ul.in-data-notif li a:hover,ul.in-data-comment li a:hover,ul.in-data-notif-list li a:hover{color:#555!important}ul.in-data-notif li .n-right a,ul.in-data-comment li .n-right a,ul.in-data-notif-list li .n-right{font-size:7px!Important;padding:6px 10px;margin-left:-5px}ul.in-data-notif-list li .n-right a:first-child{padding:10px 0px 5px}ul.in-data-notif li .right i,ul.in-data-comment li .right i,ul.in-data-notif-list li .right i{font-size:10px;margin:-5px!important;padding:7px!important}.xamzo-notif-head{font-size:16px;font-weight:600;margin-top:7px}ul.in-data-notif li,ul.in-data-comment li,ul.in-data-notif-list li{width:96%;border-bottom:1px solid#bbb;float:left}ul.in-data-notif li img,ul.in-data-comment li img,ul.in-data-notif-list li img{border-radius:50%;-moz-border-radius:50%;-o-border-radius:50%;-ms-border-radius:50%;-webkit-border-radius:50%;width:49px;height:49px}ul.in-data-notif li.xamzo-data-comment{background:#EEEFF3;opacity: .7}ul.in-data-notif li.xamzo-data-comment a{background:transparent!important;color:#2693ba!important}ul.in-data-notif li:last-child{border-bottom:none}ul.in-data-notif li a{width:auto;margin:0px;font-size:11px!important;border-bottom:none}ul.in-data-notif li a:hover{color:#2480c2}ul.in-data-notif li .right .btn,ul.in-data-notif-list li .right .btn{width:15px;text-align:center;margin-left:5px}
.xamzo-left, .xamzo-right,.xamzo-inchat{margin-top:56px;}
.xamzo-left{position: relative;z-index: 8;float:left;width:7%;padding:0px;min-height:570px;font-size:12px;border-right:1px solid#bbb;
           background:#f9f9f9;}h3.ver-aps{color:#fff;padding:10px;font-weight:normal;margin-left:50px;font-size:18px}.xamzo-right{float:left;width:90.9%;padding:1px 1% 45px 1%;min-height:400px}.xamzo-inchat{float:left;width:175px;min-width:175px;padding:31px 1px 1px 1%;height:100%;position:fixed;right:0px;background:#f9f9f9;display:none;z-index:9;box-shadow:-3px 5px 5px#ccc}
.in_chat_block{min-height:36%;max-height:36%;float:left;position:relative;top:-5px;width:100%;overflow-y:hidden}.in_chat_block ul{margin:10px 0px 0px 0px;padding:0px;float:left;width:100%;list-style:none;margin-left:-2.5%}.in_chat_block ul li, .in_chat_block ul li a{display:block;margin:0px;padding:0px}
.in_chat_block ul li a{padding:1px 5px;text-decoration:none;font-size:11px;}
.in_chat_block ul li a img{float:left;height:25px;margin-right:5px;margin-top:2px;width:25px}.in_chat_block:hover{overflow-y:auto;width:105%}.mim-chat{position:relative;border-bottom:1px solid#bbb;top:-10px;z-index:100}.mim-chat span{position:absolute;top:-14px;min-width:32%;text-align:center;z-index:1;font-weight:normal;left:32%;background:#f9f9f9;text-transform:capitalize;font-size:18px}a.in_chat{padding:10px 15px 14px;font-size:16px}a.in_chat.active{background:#70C255;color:#fff}.xamzo-right-icon{width:94%}.xamzo-head-right{padding:15px 0px 0px 5px;float:left;width:99.6%;position:relative}.xamzo-head-right .click-here{font-size:12px;text-decoration:none;padding:10px 0px 5px 5px}.xamzo-head-right h3{color:#333;text-transform:capitalize;font-weight:normal}.xamzo-head-info{float:left;padding:4px 0px;font-size:13px}.xamzo-head-right .right{position:absolute;right:0;top:3px}
#xamzo-head-action{padding:4px 0px;float:left;width:99.8%;border:1px solid#ccc;background:#fff;z-index:10}#xamzo-head-action input[name="search"]{padding:8px;border:1px solid#bbb}#xamzo-head-action button:first-child{margin-left:8px}#xamzo-head-action button:last-child{margin-right:8px}#xamzo-head-action button span{padding:0 5px;font-weight:600;font-family:'Ubuntu',sans-serif}#crud-target{float:left;width:100%}#crud-form p.input-icon, .input-icon{position:relative}.input-icon i.fa.fa-pencil.left{position:absolute;padding:7px;background:#ccc}form#calEvent{padding:10px;float:left;width:100%}div#calEvent p{padding:0px;margin:0px;font-size:11px}.input-icon.left input[type="text"]{padding-left:30px}#crud-form p a.crud-icon,a.crud-icon{position:absolute;right:5px;padding:1px 5px;font-size:16px;opacity:0.6;text-decoration:none}#crud-form p a{text-decoration:none}.child-tab{width:100%;float:left;overflow-x:hidden;margin-top:5px}.xamzo-get-icon{list-style:none;float:left;margin-left:0;max-height:400px}.xamzo-icon-list,.xamzo-link-list{width:23%;float:left;padding:5px;margin-right:10px}.xamzo-icon-list a{text-decoration:none;display:block;cursor:pointer;line-height:32px;height:32px;padding-left:4px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px}.xamzo-link-list a{text-decoration:none;display:block;cursor:pointer;line-height:20px;padding:4px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;height:auto}.xamzo-icon-list a:hover,.xamzo-link-list a:hover{background:#ccc}.xamzo-icon-list a i{width:32px;display:inline-block;text-align:right;margin-right:10px}.xamzo-icon-list a:hover[class^="icon-"],.xamzo-icon-list a:hover[class*="icon-"]{*font-size:28px;*vertical-align:middle}.xamzo-icon-list a:hover[class^="icon-"]:before,.xamzo-icon-list a:hover[class*=" icon-"]:before{font-size:28px;vertical-align:-5px}.xamzo-form-mobile{width:100%;border:1px solid#bbb}.xamzo-form-mobile p{padding:0px 20px}.xamzo-form-mobile p label{width:100px}.xamzo-form-mobile-header{padding:12px;background:#f9f9f9;border-bottom:1px solid#bbb}#crud-form p a.crud-icon-mobile,a.crud-icon-mobile{position:absolute;right:75px;bottom:0;padding:1px;font-size:20px;color:#AAA;opacity:0.6;text-decoration:none}.xamzo-pagination{float:left;margin:0px;border:1px solid#ccc;margin-top:10px;background:#f9f9f9;width:99.76%}#pagging a,#pagging strong{float:left;padding:0px 7px;margin-left:5px;border:1px solid#bbb;text-decoration:none;background:#fcfcfc}#pagging strong,#pagging a:hover{border-color:#2D9806;color:#fff;text-shadow:rgba(0,0,0,0.35)0 1px 0;box-shadow:inset 0px 1px 0px 0px rgba(255,255,255,0.5);background:#2D9806;background-image:-moz-linear-gradient(top,#5FBD41,#2D9806);background-image:-ms-linear-gradient(top,#5FBD41,#2D9806);background-image:-webkit-gradient(linear,0 0,0 100%,from(#5FBD41),to(#2D9806));background-image:-webkit-linear-gradient(top,#5FBD41,#2D9806);background-image:-o-linear-gradient(top,#5FBD41,#2D9806);background-image:linear-gradient(top,#5FBD41,#2D9806);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5FBD41',endColorstr='#2D9806',GradientType=0);display:inline;color:#fff;cursor:pointer}.xamzo-pagination #option{float:left;font-size:11px;text-transform:capitalize;padding:6px 10px;width:50%}div#option select{width:auto;background:transparent;height:auto;padding:2px 2px;border:1px solid#AAA}.xamzo-pagination #pagging{float:right;margin:0px-12px 0 0;padding:5px 0px}.xamzo-center{float:left;width:100%;position:relative}.xamzo-center .wrap{width:300px;margin:100px auto}.xamzo-center .xamzo-top-title{float:left;width:100%;padding:10px 0;text-align:center;font-size:18px;text-transform:uppercase}.xamzo-center .content{background:#f3f3f3;border:1px solid#bbb;padding:5px}.xamzo-center .content input[type="text"],.xamzo-center .content input[type="password"]{width:100%}.xamzo-center .content label{width:100%}.xamzo-block{width:100%;float:left;margin-top:5px;position:relative}.xamzo-block-full{padding-bottom:20px}.xamzo-block.big{width:67%;float:left}.xamzo-block.small{width:32%;float:left}.xamzo-block.separated{width:1%}.xamzo-block-content{border:1px solid#bbb;float:left;width:99.7%;margin-bottom:20px}.xamzo-block-header{border-bottom:1px solid#bbb;background:#f9f9f9;padding:10px}.xamzo-block-header h4{text-transform:uppercase;font-weight:bold}.xamzo-block p{margin:1px 0px;width:100%}.main-property{position:relative}.main-property button{position:absolute;right:8px;top:13px;font-size:20px;z-index:10;padding:2px 5px}.xamzo-page-type{padding:0px 5px!important}.xamzo-block table.table{float:left}.xamzo-preview{position:absolute;z-index:1;background:#FFF}.xamzo-head-right .right a{text-decoration:none}.xamzo-head-right .right a.btn-opt{font-weight:500;text-decoration:none;border:1px solid#bbb;padding:5px;text-transform:capitalize;background:#fcfcfc}.xamzo-statistics{list-style:none}.xamzo-statistics li{float:left;margin-right:8px;margin-bottom:20px;width:162px;height:72px;padding:2px}.xamzo-statistics li i{font-size:25px;text-align:center;padding-right:5px;color:#2693ba}.xamzo-statistics li p{margin:0;text-align:center;padding:10px 0px 5px 0px}.xamzo-statistics li em{color:#2693ba;font-style:normal;font-size:13px;text-transform:uppercase}.xamzo-statistics li div{width:148px;height:70px;display:block;background-color:#fff;background-repeat:no-repeat;background-position:center 10px;border:1px solid#bbb;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px}.xamzo-statistics li div span{text-align:center;display:block;text-transform:uppercase;font-size:20px;color:#32415a}#d-main-view h4{padding:5px;margin-top:10px;float:left;width:97%;color:#999}.dashboard-block1{width:60%;border-right:1px solid#CCC;float:left}.dashboard-block2{margin-top:-20px;width:38%;padding:10px 10px;float:left}.dashboard-block12{float:left;width:46%;padding:10px 10px}.dashboard-block13{margin:0px;float:left;width:100%;padding-bottom:5px}span#img_dest{float:left;width:150px;height:150px;border:1px solid#E5E5E5}ul.list_image,ul.list_doc,ul.list_zip{margin:0px;padding:0px;list-style:none;display:inline-block;width:100%}ul.list_image li{float:left;border:1px solid#CCC;position:relative;margin:0px 8px 20px 0px;width:124px}ul.list_image li.selected{opacity:0.5}ul.list_image li a, .box-image-act a{padding:5px 2px;text-decoration:none}ul.list_image li a:last-of-type, .box-image-act a:last-of-type{padding:5px}ul.list_image li i,ul.list_doc li i,ul.list_zip li i{font-size:13px}ul.list_image li img{width:100%;height:98px;float:left}.file-property-left{width:63%}.file-property-right{width:33%;margin-left:20px;border:1px solid#bbb;padding:10px}.box-image{float:left;width:100%}.box-image-act .right{padding-top:3px}.box-image-act .left{padding-top:0px}div#customize-preview{padding:3%;background:none repeat scroll 0 0#EEE}#file_name{position:relative;float:left;padding:10px;width:100%}#file_act{position:relative;float:right;padding:10px 0;margin-right:2%}ul li span.xamzo-media{float:left;width:76%}.box-image-act{float:left;width:100%;border-top:1px solid#bbb;background:#f9f9f9;height:35px}.box-image-act label{position:relative;top:-2px}ul.list_doc li,ul.list_zip li{border:1px solid#CCC;float:left;margin:0px 9px 20px 0px;list-style:none;padding-top:10px;position:relative;width:12.8%}ul.list_doc .icon_doc{background:url('../img/small/doc.png')no-repeat 5px 8px}ul.list_doc .icon_docx{background:url('../img/small/doc.png')no-repeat 5px 8px}ul.list_doc .icon_xls{background:url('../img/small/xls.png')no-repeat 5px 8px}ul.list_doc .icon_xlsx{background:url('../img/small/xls.png')no-repeat 5px 8px}ul.list_doc .icon_ppt{background:url('../img/small/ppt.png')no-repeat 5px 8px}ul.list_doc .icon_pptx{background:url('../img/small/ppt.png')no-repeat 5px 8px}ul.list_doc .icon_pdf{background:url('../img/small/pdf.png')no-repeat 5px 8px}ul.list_doc .icon_txt{background:url('../img/small/txt.png')no-repeat 5px 8px}ul.list_zip .icon_zip{background:url('../img/small/zip.png')no-repeat 5px 8px}ul.list_doc li span,ul.list_zip li span{position:relative;top:-8px;padding-left:30px}.xamzo-media-metadata{position:relative}.xamzo-media-metadata img.active{width:95%;border:3px solid#fff;box-shadow:1px 1px 8px 1px rgba(1,0,0,0.2);padding:3px;margin:10px 0px 20px 0px;position:relative}.xamzo-media-metadata p{padding:0 5px;margin:0px;font-size:11px;border-bottom:1px solid#bbb}.xamzo-media-metadata p:last-child{border-bottom:none}.xamzo-media-metadata .child-tab{border:1px solid#bbb;border-top:0px}.xamzo-media-metadata .child-tab p label{padding:0px 5px;margin-right:5px;color:#666;float:left;width:80px!important}.xamzo-media-metadata .child-tab p a{text-decoration:none}.xamzo-media-metadata .child-tab p a i{padding:5px}.mod-list{float:left;border-bottom:1px solid#bbb;margin:5px 0;width:100%}.mod-list a, .mod-list p{float:left;padding:2px 5px;width:96%}.mod-list a:hover{opacity:0.5}.xamzo-extension{display:inline-block;width:100%}.xamzo-extension-list{float:left;width:46%;padding:20px 20px 10px 10px;position:relative;min-height:70px}.xamzo-extension-logo{float:left;margin:5px 0px;width:64px;height:64px}.xamzo-extension-desc sup{padding-left:5px}.xamzo-extension-desc{margin-top:-5px;padding-left:20px;min-height:100px}.xamzo-extension-desc a{text-decoration:none}.xamzo-extension-desc p{font-size:11px;margin:4px;color:#888;line-height:17px;float:none}.xamzo-extension-act{right:85px}.xamzo-extension-del{right:40px}.xamzo-extension-del,.xamzo-extension-act,.xamzo-module-del{float:left;position:absolute;top:20px}.xamzo-module-del{right:20px}.xamzo-extension-act a,.xamzo-extension-del a, .xamzo-module-del a{text-decoration:none;padding:5px 3px;font-size:15px}.xamzo-extension-opt a{font-size:12px;padding:0px 4px;text-transform:capitalize}.xamzo-getmore-extension{width:97%;float:left;margin-top:10px}.xamzo-getmore-extension div{padding:20px 0 5px 20px;background:url(../img/xamzo-bag.png)no-repeat 10px center;background-size:30px}.xamzo-getmore-extension h5{padding-left:30px}#theme-options a#close-opt{float:right;margin-right:-15px;margin-top:-20px}.xamzo-theme-logo{float:left;margin:5px 0px;width:100px;height:100px;border:1px solid#bbb}.theme-active{float:left;width:100%}.theme-active .theme-list{margin:0px 7px}.theme-active .left{float:left;width:25%}.theme-active .right{float:left;padding:5px 0;width:73%}.theme-active .right b.author{font-size:12px}.theme-active .right .t-active-desc{float:left;padding:10px 0}.theme-active .right .t-opt-act a{text-decoration:none;padding:5px 0}#xamzo-theme-list{float:left;margin-top:10px;width:100%}#xamzo-theme-list .header{margin-top:10px;padding:15px;border-bottom:1px solid#cccddd;position:relative}#xamzo-theme-list .header input{position:absolute;right:10px;top:15px}.xamzo-theme-avalaible{float:left;width:100%;margin-top:10px;padding:10px 0}.xamzo-theme-avalaible .theme-list{margin:5px 7px;float:left;width:250px;border:1px solid#bbb;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;-o-border-radius:2px;padding:4px}.xamzo-theme-avalaible .theme-list p.xamzo-t-update{padding:10px}.theme-list .theme-action{float:left;padding:5px 8px}.theme-list .theme-action a{text-decoration:none;padding:5px}.t-opt-act h4{text-transform:capitalize}.theme-list .theme-action a:hover{opacity:0.5}.theme-list .theme-logo{float:left;width:100%;text-align:center;font-size:70px;color:#2693ba;padding-top:10px;margin:0px 0 10px 0}.theme-list .theme-logo img{width:90%;height:150px;border:3px solid#fff;box-shadow:1px 1px 8px 1px rgba(1,0,0,0.2);padding:3px}.theme-list .theme-logo img.active{height:160px}.theme-list .theme-name{float:left;width:96%;padding:5px 2%;font-weight:500;opacity:0.7;position:relative}.theme-list .theme-name .left{padding-left:8px}.theme-list .theme-name .left span{padding:5px 0}.theme-list .theme-name .right{margin:3px;position:absolute;right:0}.theme-list .theme-name .right a{padding:5px 3px;text-decoration:none}.theme-in-preview{float:left;width:100%;position:relative}.theme-in-preview .left{float:left;width:93%}.theme-in-preview .right{width:7%;float:left;position:fixed;top:15px;right:10px;text-align:center}.theme-in-preview .right a.box-setting{position:absolute;padding:40px 0%;left:10px;width:100%;cursor:pointer;text-decoration:none}.theme-in-preview .right a.box-setting i{float:left;width:100%;text-align:center;font-size:30px}.theme-in-preview .preview-title{position:fixed;left:0px;top:0px;padding:10px;float:left;width:99%;margin-left:0px;border:1px solid#bbb;background:#fcfcfc url(../img/xamzo-bg-texture.png)repeat;margin-bottom:10px;z-index:10}.theme-in-preview h3{text-transform:capitalize;float:left}.theme-in-preview h3 i{font-size:30px;padding-right:10px}.xamzo-opt-theme{float:left;width:20%;margin:0 1% 0 1%}.xamzo-opt-theme li a{padding:5px;width:96%}.xamzo-opt-theme-header h4{background:#f9f9f9;border-bottom:1px solid#bbb;padding:10px;font-weight:normal}.xamzo-theme-feature-filter{float:left;width:100%;margin-top:10px}.xamzo-theme-feature-filter ul{float:left;width:100%;margin:10px 0px 30px}.xamzo-theme-feature-filter ul li{float:left;list-style:none;width:20%}.xamzo-theme-feature-header{font-weight:bold;padding:0px 20px;margin-bottom:-10px}#xamzo-filter-theme button{margin:-30px 30px 20px 30px}.xamzo-theme-install{padding:20px}.s-widget{float:left;width:65%}.s-widget ul{float:left;width:100%;margin:0px;padding:0px;position:relative}.s-widget ul li{width:48%;margin-right:10px;cursor:move;float:left;display:inline-table}.xamzo-height-widget-scroller{height:360px!important}.xamzo-height-150-scroller{height:150px!important}.xamzo-height-100-scroller{height:100px!important}.xamzo-height-120-scroller{height:120px!important}.xamzo-height-200-scroller{height:200px!important}.xamzo-height-250-scroller{height:250px!important}.xamzo-height-300-scroller{height:300px!important}.xamzo-height-350-scroller{height:350px!important}.xamzo-height-logs-scroller{height:420px!important}.xamzo-height-modal-scroller{height:500px!important}.w-place ul{padding:5px 3px;margin:0px}.w-place ul li .widget-list{float:left;border:1px solid#bbb;width:99%;cursor:move;margin-bottom:10px}.s-widget ul li .widget-list{border:1px solid#bbb;width:100%;margin-bottom:10px;min-height:110px}.s-widget ul li .widget-list:active{cursor:move}.w-place ul li .widget-list .w-header{background:#f6f6f6;float:left;width:100%;border-bottom:none;cursor:move}.s-widget ul li .widget-list .w-header{border-bottom:1px solid#bbb;background:#ccc;padding:5px 0;float:left;width:100%}.w-header span.left{margin:5px 0px 0px 8px;font-weight:600;color:#888}.w-header span.right{color:#FFF;margin:2px 5px 0px 0px}.s-widget ul li .widget-list .w-header a{text-decoration:none;padding:5px;margin:0px;font-size:16px}.s-widget ul li .widget-list .w-desc{min-height:60px;float:left;width:100%;background:#FFF;font-size:11.5px;line-height:1.7}.s-widget ul li .widget-list .w-desc p{padding:3px 8px;margin:0}.w-place li .widget-list .w-header .right .btn-crud{padding:5px}.w-place li .widget-list .w-header .right a{padding:5px;text-decoration:none;float:left}.w-place ul{padding:5px;float:left;width:96.3%;background:#fff;margin-bottom:10px}.w-place li .widget-list .w-config{position:relative;border-bottom:none}form ul#ww-top .motion,form ul#ww-bottom .motion,form ul#ww-left .motion,form ul#ww-right .motion{border:1px solid#2693ba;color:#2693ba;margin-top:5px;text-align:center}.xamzo-widget-scroller{position:absolute;right:395px}.w-place{float:right;width:27%;border:1px solid#bbb;padding:0 5px 5px 5px;position:absolute;right:27px;top:195px}.w-place .w-title-place{padding:5px 5px 0 5px;background:#f6f6f6;border-bottom:1px solid#bbb;float:left;width:95%;text-transform:capitalize;font-weight:600;color:#999}.w-main-config{position:absolute;z-index:10;background:#fff;padding:40px 13px 5px 13px;width:51.5%;float:left;border:1px solid#bbb}.w-main-config#w-c-title{position:absolute;top:10px;font-weight:600;text-transform:capitalize}.w-main-config p label{width:30%!important;float:left}.w-main-config p input[type="text"], .w-main-config p textarea{width:55%;margin-left:5px}.w-main-config p i{font-weight:normal}.w-main-config p textarea{max-width:55%;width:55%;overflow:hidden}#w-con-top,#w-con-left,#w-con-bottom,#w-con-right{border-top:1px solid#bbb;margin-top:10px}.w-main-config a#w-c-close{position:absolute;right:15px;top:10px;font-size:20px;cursor:pointer}.xamzo-add-html{padding:8px 3px}#w-con-right{border-top:1px solid#bbb;margin-top:27px;float:left;width:100%}.in-html{position:relative;float:left;z-index:1000}.w-main-html, .w-main-config{position:absolute;z-index:10;right:0px;top:35px;width:600px;background:#fff;padding:13px;float:left;border:1px solid#bbb}.w-main-html form{text-transform:none}.w-main-html p label{padding:5px 0;width:200px}.w-main-html a#w-b-close{position:absolute;right:12px;top:10px;font-size:20px;padding:5px;cursor:pointer}.w-main-html p label,.w-place .w-main-html p textarea{width:100%}.w-place .w-main-html p input[type="text"], .w-main-config p input[type="text"]{width:98%!important}.w-main-html p{margin:-5px 0px 10px}.w-main-html p.w-b-save{margin:5px 0px-5px 0px;float:right}.destination ul li.ui-state-default{float:left;width:100%;border:none;background:transparent}.xamzo-block-genuine{position:absolute;top:180px;right:25px}p.xamzo-info{margin-left:150px}.xamzo-info-label{width:130px!important}
.xamzo-genuine{background: url("../img/xamzo/xamzo200x183.png")no-repeat;width:200px;height:180px;float:right;padding:10px;margin-top:30px}.xamzo-update p{font-size:11px;font-weight:600;margin:2px}.content-bottom#option select{border:none}.content-bottom#option{font-size:12px}.tab a{text-transform:capitalize;font-size:12px}#bar_button{float:left;width:99%;border-top:1px solid#EBEBEB;margin-top:20px;padding-top:10px}
ul.list-tbl{float:left;padding:5px;margin:0;width:98%}ul.list-tbl li{float:left;width:30%}.list-b-backup{float:left;width:99%;border:1px solid#EBEBEB;margin-top:5px}.list-b-backup .l-data{float:left;padding:5px 0;background:#f9f9f9;width:100%}.list-b-backup ul{border-top:1px solid#EBEBEB;padding:0px;float:left;width:100%;margin:0px}.list-b-backup ul li{font-size:12px;padding-left:20px}.l-data span.right a{text-decoration:none;padding:5px 8px}.list-b-backup .l-data span.left a{padding:5px;text-decoration:none;display:inline;color:#4B4200;margin:2px;text-transform:capitalize;cursor:pointer}.xamzo-setting .error input[type="text"]{border:1px solid#cc0000}.xamzo-setting .error span.xamzo-errorlist{left:270px!important;bottom:15px!important}.xamzo-setting-list{padding:0px;width:99%;display:inline-block;margin:0px}.xamzo-setting-content{margin-top:10px}span.xamzo-btn-search-setting{padding:7px 11px;margin-top:-7px;margin-right:-5px;cursor:pointer}.xamzo-setting-search{position:relative;float:left;padding:0px 0 5px 0;width:100%;display:none}.xamzo-setting-search .arrow-up{position:absolute;right:-2px;top:-18px;border-bottom:10px solid#fff}span.xamzo-btn-search-setting:hover,span.xamzo-btn-search-setting[active="true"]{background:#f0f0f0}.xamzo-setting-list li, .xamzo-setting-list li a{float:left;width:100%}.xamzo-setting-list li a{text-decoration:none;padding:4px 0px;text-transform:capitalize}.xamzo-setting-list li a i.fa{position:relative;top:-1px;font-size:12px}.xamzo-setting-list li a:hover,.xamzo-setting-list li a.active{background:#f9f9f9}.xamzo-extension-icon{float:left;margin:0px 8px}#xamzo-setting-config{width:98.3%;display:inline-block;padding:5px}#xamzo-setting-config .modal-header{display:none}#xamzo-setting-config .modal-body p,.xamzo-setting form#crud-form p{padding:5px;float:left;width:98%;margin:1px 0px}#xamzo-setting-config .modal-body p label{width:180px}
.xamzo-setting p label b{float:left;font-weight:bold;text-transform:capitalize;width:100%}
.xamzo-setting p label i{font-size:11px;color:#999;font-weight:400;font-style:normal}
.xamzo-setting input[type="text"],.xamzo-setting input[type=password],.xamzo-setting textarea{width:60%!important}
input[type="text"].xamzo-setting-input{width:97%!important}
ul.xamzo-setting-dropdown li a{width:180px;float:left;border:none;cursor:pointer;text-transform:capitalize;margin:3px 2px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;padding:2px 2px 2px 5px}
table.menu tr td span.xamzo-post-title div.one,table.menu tr td span.xamzo-post-title div.two,table.menu tr td span.xamzo-post-title div.three,div.one,div.two{background:url(../img/menu-line.png)no-repeat;background-size:14px;width:15px;height:25px;float:left;padding-right:5px}table.menu tr td span.xamzo-post-title div.one,div.one{margin:-15px 0px 0px 0px}table.menu tr td span.xamzo-post-title div.two,div.two{margin:-15px 0px 0px 30px}table.menu tr td span.xamzo-post-title div.three{margin:-15px 0px 0px 60px}table a.icon-mark{text-decoration:none;padding:8px 4px}
tr.disable{display:none}tr.enable{display:block}.xamzo-image-circle{border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%}.xamzo-user-photo{float:left;position:relative;top:8px;margin-bottom:10px;border:1px solid#CCC}.xamzo-photo-small{width:45px;height:45px;margin-right:14px;padding:1px}.xamzo-photo-big{width:90px;max-height:100px;margin-right:24px;padding:2px}
.xamzo-name{font-size:11px;display:block;text-transform:capitalize;font-weight:600;font-size:13px;margin:15px 0 4px 0;text-decoration:none}.xamzo-post-title{width:100%;float:left;padding-bottom:8px;display:block;text-transform:capitalize;font-weight:600;font-size:13px;margin:5px 0 0px 3px;text-decoration:none}.xamzo-post-info{font-size:11px;padding:2px 3px 2px 3px;margin:3px;text-transform:capitalize;color:#999}
.xamzo-post-act, .xamzo-post-link{font-size:11px;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;color:#fff;margin:3px;text-shadow:0 -1px 0 rgba(0,0,0,0.25);white-space:nowrap;vertical-align:baseline;font-weight:bold;min-width:71px;float:left;text-align:center;padding:0px 7px}
.xamzo-post-act a, .xamzo-post-link a{text-decoration:none;padding:6px 2px;color:#fff}.xamzo-post-info i{padding-right:3px;font-style:normal;font-size:13px}.xamzo-email, .xamzo-category{font-size:12px;font-style:italic}.xamzo-profile-header{margin:20px 0px 10px 0px;border-bottom:1px solid#bbb;float:left;width:100%;padding-bottom:15px}.xamzo-profile-header div{line-height:26px;margin-bottom:10px;float:left;width:80%;margin-top:10px}.xamzo-profile-header h3{font-weight:600}.xamzo-profile-header div span{font-size:12px;float:left;font-weight:400;color:#5A510A;text-transform:none;width:100%;margin-top:3px}.xamzo-profile-header div span.desc{font-size:12px;font-weight:400;color:#666;margin-left:5px;float:left}.xamzo-profile-header div span a{text-decoration:none}.xamzo-profile-header div span i{font-size:15px;padding:7px 0px 0px 5px}.xamzo-user-auth{width:20%;float:left}.xamzo-user-title-auth{width:100%;font-size:12px}.xamzo-user-auth input[type='checkbox']+label,.xamzo-user-auth input[type='radio']+label{margin-right:10px!important}.xamzo-opt-display{float:left;width:76%;padding-left:1%;border-left:1px solid#bbb}.xamzo-opt-display form p i.font-12{float:left;padding-left:20%;width:80%}.xamzo-opt-display form input[type=text]{width:50%}.xamzo-opt-display .xamzo-block-left form input[type=text], .xamzo-opt-display .xamzo-block-left form select{width:75%}.xamzo-opt-display .xamzo-block-left form p label{width:25%}.xamzo-opt-display form p{padding-top:10px}.xamzo-opt-display form p textarea{width:50%;max-width:50%;min-width:50%}#wm-form .right{float:left;width:44%;margin-left:1%}#wm-form .left{float:left;width:52%;padding:10px 1%;border:1px solid#bbb}.body-dropdown{max-height:250px;overflow-y:auto;overflow-x:hidden}.xamzo-dropdown-conf .type-search{float:left;width:97%;padding:5px 0;position:absolute;top:0px;z-index:10;background:#fff}.xamzo-dropdown-conf .on-search{position:relative;top:50px}ul.xamzo-dropdown-conf{padding-bottom:60px!important}ul.sum-rec-q{margin:0px;padding:0px 5px 0px;min-height:400px;max-height:400px}ul.sum-rec-q li{float:left;width:100%;padding:4px 0px;border-bottom:1px solid#bbb}ul.sum-rec-q li a{padding:3px;text-decoration:none}.xamzo-scrollbar{margin:20px 0 0px}.xamzo-scrollbar .viewport{overflow:hidden;position:relative}.xamzo-scrollbar .overview{list-style:none;position:absolute;left:0;top:0;padding:0;margin:0;width:100%}.xamzo-scrollbar .scrollbar{background:transparent url(../img/xamzo-bg-scrollbar-track-y.png)repeat 0 0;position:relative;background-position:0 0;float:right;width:15px}.xamzo-scrollbar .track{z-index:100;background:transparent url(../img/xamzo-bg-scrollbar-trackend-y.png)no-repeat 0 100%;height:100%;width:15px;position:relative}.xamzo-scrollbar .thumb{background:transparent url(../img/xamzo-bg-scrollbar-thumb-y.png)no-repeat 50% 100%;width:25px;min-height:15px!important;cursor:pointer;overflow:hidden;position:absolute;top:0px;left:-5px}.xamzo-scrollbar .thumb .end{background:transparent url(../img/xamzo-bg-scrollbar-thumb-y.png)no-repeat 50% 0;overflow:hidden;height:5px;width:25px}.xamzo-scrollbar .disable{display:none}.noSelect{user-select:none;-o-user-select:none;-moz-user-select:none;-khtml-user-select:none;-webkit-user-select:none}.xamzo-height-media-scroller{max-height:400px}.xamzo-height-menu-scroller{height:452px}.xamzo-height-category-scroll{height:180px}.xamzo-height-extension-scroller{height:350px}.info-active .label{text-transform:capitalize;font-weight:600}.arrow-up,.arrow-bottom{width:0;height:0;border-left:10px solid transparent;border-right:10px solid transparent;position:absolute;z-index:300}.arrow-left, .arrow-right{width:0;height:0;border-top:10px solid transparent;border-bottom:10px solid transparent;position:absolute;z-index:10}.form-width-80{float:left;width:90%}ul.post-add,ul.dd-menu{width:140px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}ul.post-add li a,ul.dd-menu li a{width:97%;float:left;border:none;cursor:pointer;text-transform:capitalize;margin:3px 2px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px}ul.post-add li a:hover,ul.dd-menu li a:hover,ul.xamzo-setting-dropdown li a:hover{background:#2D9806;background:-moz-linear-gradient(top,#5FBD41 0%,#349912 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#5FBD41),color-stop(100%,#349912));background:-webkit-linear-gradient(top,#5FBD41 0%,#349912 100%);background:linear-gradient(#5FBD41,#349912);background:-o-linear-gradient(top,#5FBD41 0%,#349912 100%);background:-ms-linear-gradient(top,#5FBD41 0%,#349912 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5FBD41',endColorstr='#5FBD41',GradientType=0);color:#ffffff;font-weight:600;font-family:'Ubuntu',sans-serif}ul.post-add li a i,ul.dd-menu li a i{margin:5px;font-size:17px;padding-right:5px;color:#2D9806}ul.post-add li:hover a i,ul.dd-menu li:hover a i{color:#fff}ul.post-menu-opt,ul.post-menu-opt li{position:relative;float:left;margin:0px}ul.post-menu-opt li{padding:3px 10px 0;text-align:center}ul.post-menu-opt li a,ul.post-menu-opt li i{float:left;width:100%;text-decoration:none;text-transform:capitalize}ul.post-menu-opt li .arrow-up{border-bottom:10px solid#fff;bottom:-8px;left:38%}sup.sup-menu{font-size:13px;text-transform:none;font-weight:normal;border:1px solid#bbb;padding:2px 5px;background:#f9f9f9;margin-left:10px}.box-option{float:left;padding:5px 0;margin:0px 0px 5px 0px;width:99.5%}#photo-destination input[type="text"]{display:none}.box-option span.photo-upload{display:inline-block;width:31%;margin: 0.5% 0.5% 0.85%;border:1px solid#bbb;height:90px;text-align:center;position:relative}.box-option span.photo-upload a{padding:2px;cursor:pointer;left:0px;bottom:0px;position:absolute;z-index:100;text-decoration:none;background:#50b7dc;color:#fff}.box-all-option{float:left;padding:0px;width:100%}.box-all-option#jq-upload{width:100%}.box-option span.photo-upload img{max-width:100%;min-height:100%;min-width:100%;max-height:100%;position:absolute;top:0px;left:0px}#box-upload{text-align:center;position:relative}#box-upload a[ajax="true"]{position:absolute;bottom:20px;right:0px}#box-upload span.photo-upload{border:none}#pp_project{text-align:center}#pp_project img{width:90%;text-align:center}#box-upload#jq-drop,#box-upload#jq-dropX{border:1px dotted#bbb;padding:10px 2px}ul.upload-target{box-shadow:1px 1px 8px 1px rgba(1,0,0,0.2);-moz-box-shadow:1px 1px 8px 1px rgba(1,0,0,0.2);-webkit-box-shadow:1px 1px 8px 1px rgba(1,0,0,0.2);border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;margin-top:8px}ul.upload-target .arrow-up{border-bottom:10px solid#fff;bottom:-8px;left:7px;top:-7px}ul.dropdown-target-right div.arrow-up{border-bottom:10px solid#fff;bottom:-8px;right:10px;top:-7px}ul.dropdown-target-left div.arrow-up{border-bottom:10px solid#fff;bottom:-8px;left:10px;top:-8px}.remove-audio, .remove-video{position:absolute;bottom:0px;left:1px;background:#50b7dc;color:#fff;padding:5px}.box-option .child-tab{float:left;width:100%;padding:0px;margin:0px;margin-bottom:-20px}.box-option iframe{width:100%;height:250px}.xamzo-link-post{border:1px solid#bbb;padding:20px 10px}.block-extend{float:left;width:100%}.xamzo-config-line{float:left;width:100%;height:30px;border-bottom:1px solid#bbb;margin-bottom:10px}.xamzo-config-line span{font-weight:600}.xamzo-post-preview{cursor:pointer;margin-top:-5px;font-size:11px;padding:5px 3px 5px 3px;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);white-space:nowrap;vertical-align:baseline;font-weight:bold;min-width:71px;text-align:center}.xamzo-bottom{float:left;width:100%;min-width:1024px!Important;margin-top:10px;border-top:1px solid#bbb;background:#f0f0f0;position:fixed!important;bottom:0px;left:0px;z-index:10}.xamzo-bottom .xamzo-bottom-left{float:left}.xamzo-bottom .xamzo-bottom-left a{padding:5px 10px;float:left;text-decoration:none;color:#555;font-size:12px;text-transform:capitalize}.xamzo-bottom .xamzo-bottom-left a:hover{color:#2693ba}.xamzo-bottom .xamzo-bottom-left a.copyright{font-size:11px;color:#111}.xamzo-bottom .xamzo-bottom-right{text-align:right;margin:3px 0px;color:#111;font-size:11px}.info-active{float:left;width:100%}.info-active .left{float:left;width:35%}.info-active .right{float:left;width:63%}.info-list{border:1px solid#bbb;float:left;width:90%;margin-top:20px;padding:2px}.info-logo{float:right}.info-list .info-name{float:left;width:100%;padding:5px 0;text-align:center;font-weight:500;opacity:0.7}ul.xamzo-dropdown-conf{float:left;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;padding:4px}ul.xamzo-dropdown-conf li{float:left;width:100%}ul.xamzo-dropdown-conf li a{width:98%;padding:0px 1%}ul.xamzo-dropdown-conf li a:hover{background:#2D9806;background:-moz-linear-gradient(top,#5FBD41 0%,#349912 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#5FBD41),color-stop(100%,#349912));background:-webkit-linear-gradient(top,#5FBD41 0%,#349912 100%);background:linear-gradient(#5FBD41,#349912);background:-o-linear-gradient(top,#5FBD41 0%,#349912 100%);background:-ms-linear-gradient(top,#5FBD41 0%,#349912 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5FBD41',endColorstr='#5FBD41',GradientType=0);color:#ffffff;font-weight:600;font-family:'Ubuntu',sans-serif}a.xamzo-dd-anggle-conf{position:absolute;right:0px;top:-3.6px;padding:3.5px 8px}a.xamzo-btn-color{position:absolute;right:1px;top:-6px;padding:15px;border-left:1px solid#bbb}.w-place .w-main-config p a.xamzo-btn-color{position:relative;right:0px;top:2px;padding:8px 15px;border-left:1px solid#bbb}.w-place .w-main-config p span.cPick{float:left;width:70%}.w-place .w-main-config p span.cPick input{width:85%}.xamzo-block-update-core{float:left;border-top:1px solid#bbb;width:100%}.xamzo-sync h4{color:#888}.xamzo-is-update{color:#468847;font-size:12px}a.xamzo-sync{border-bottom:1px solid#666;color:#666;padding:0px 0px 2px 0px;text-decoration:none;margin-right:10px}a.xamzo-sync:hover{color:#2693ba}ul#menus,ul#photos{display:inline-block;width:100%;padding:0px;margin:0px;list-style:none}ul#menus li img,ul#photos li img{display:inline-block;width:100px;height:80px}ul#menus li,ul#photos li{display:inline-block;width:100px;border:1px solid#bbb}.width-50{width:50%!important}.width-100{width:100%!important}.data-info{vertical-align:middle;color:#2480c2;padding:5px}.data-icon i{color:#333}.big-icon{font-size:24px}table.table-form{float:left;border:1px solid#bbb;font-size:12px;padding:15px 5px 2px 5px;background:#fdfdfd}table.table-form tr{margin:0px}table.table-form td{vertical-align:top}table.table-form td input[type="text"],table.table-form td input{width:auto;padding:3px;box-shadow:none;border-radius:0}table.table-form td textarea{padding:4px;margin-bottom:5px;box-shadow:none;border-radius:0}table.table-form td label.data-label{display:inline-block;width:100%;padding:1px;font-weight:500}table.table-form td input.input-very-small{width:10%}
table.table-form td input.input-small{width:30%}table.table-form td input.input-middle{width:60%}table.table-form td input.input-big{width:90%}.data-fix-label{position:relative}.data-fix-label label{background:#fff;padding:2px 5px;position:absolute;left:10px;top:3px;text-transform:uppercase;color:#333}table.fusion-table tr+tr,table.fusion-table tr,table.fusion-table td,table.fusion-table td+td{padding:4.7px 5px!important}.data-chart:first-of-type{margin-top:15px}.data-chart{text-align:center;padding:12px 0;position:relative;cursor:pointer}.data-chart .arrow-left{border-right:20px solid#69AFC9;position:absolute;top:41%;right:-3px}.data-chart img{width:60%;height:100px;background:#fff;border:1px solid#bbb}.data-chart img.active{opacity: .6}#menu-right{display:none;float:left;width:140px;margin:0px;padding:0;position:absolute;list-style:none;border:1px solid#bbb;border-bottom:none;background:#fff;z-index:2000;-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);-moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);box-shadow:0 3px 10px rgba(0,0,0,0.2)}#menu-right li{float:left;width:100%;border-bottom:1px solid#bbb}#menu-right li:last-child{border-bottom:none}#menu-right li:hover{background:#8E853F;background:-moz-linear-gradient(top,#8E853F 0%,#494101 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#8E853F),color-stop(100%,#494101));background:-webkit-linear-gradient(top,#8E853F 0%,#494101 100%);background:linear-gradient(#8E853F,#494101);background:-o-linear-gradient(top,#8E853F 0%,#494101 100%);background:-ms-linear-gradient(top,#8E853F 0%,#494101 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8E853F',endColorstr='#8E853F',GradientType=0)}#menu-right li a i{margin:0px 5px}#menu-right li a{text-decoration:none;float:left;color:#666;padding:3px;width:100%}#menu-right li a:hover{color:#fff}#menu-right li a.m-right{padding-left:25px}.xamzo-opt-apps{position:relative}.xamzo-opt-apps a.btn-opt-apps{position:fixed;left:0px;z-index:100;bottom:35px;font-weight:bold;text-decoration:none;padding:7px;border:1px solid#279ac2;border-bottom:none;border-left:none;color:#fff;background:#69AFC9}.xamzo-opt-apps a.btn-opt-apps i{vertical-align:top;margin-top:0px;float:left}.p-action{padding-top:10px}.icd-content ul, .icd-content ol{list-style:circle!important}.icd-content table#mainTable{border-left:1px solid#ccc;border-top:1px solid#ccc}.icd-content table#mainTable th, .icd-content table#mainTable th+th, .icd-content table#mainTable tr, .icd-content table#mainTable tr+tr, .icd-content table#mainTable td, .icd-content table#mainTable td+td{border-right:1px solid#ccc;border-bottom:1px solid#ccc;padding:5px}.data-icd-border{border:1px solid#ccc;border-bottom:none;padding:5px}.block-parent-icd{cursor:pointer}.block-parent-icd:hover{background:#ffffcc}.input-warning{color:#cc0033;padding:5px}form.ops input.ui-autocomplete-input{width:95%!important}
ul.menu-box{list-style:none;margin:0px;padding:0 0 40px 0;}ul.menu-box li,ul.menu-box li a{text-align:center;display:inline-block;width:100%;text-decoration:none}ul.menu-box li a{padding:10px 0;border-bottom:1px solid#bbb;line-height:15px}ul.menu-box li:last-child a{border-bottom:none}ul.menu-box li a i{font-size:20px;border-radius:50%;padding:10px;width:20px;text-align:center;display:inline-block;color:#2D9806}.xamzo-head-right .left h3 .fa,h3.head-stat .left .fa{color:#4EB12D}
ul.menu-box li a.selected{border-right:5px solid #3F9C21;margin-top:-1px}ul.menu-box li a span{color:#111;font-weight:500}span.xamzo-input-search{position:relative;top:2px}span.xamzo-input-search span.small-loading{position:absolute;right:7px;top:-1px;color:#000}.help-desc{padding:10px 10px 0 0;border-right:1px solid#ccc;width:90%;display:inline-block;text-align:justify;line-height:22px}.alert{padding:5px;width:97%!Important;float:left}.alert-info{border-left:5px solid#2480c2;background:#EAF1F3;opacity: .8;color:#1570B1}.mini-btn{text-decoration:none;padding:1px 5px 5px;display:inline-block;height:23px;color:#fff;background:#41AD1D}.mini-btn i{padding:5px}.xamzo-block4{float:left;width:23.5%;padding:5px;margin-left:5px}.open-project{margin:0px auto;padding:20px 0px 10px 0;text-align:center;box-shadow:-5px 5px 7px#ccc;border:1px solid#ccc}.open-project-photo img{border:1px solid#ccc;border-radius:50%;width:150px;height:150px;box-shadow:0px 5px 5px#ccc}.open-project-icon ul{padding:0px 0px;display:inline-block;margin:0px;box-shadow:0px 1px 1px#ccc}.open-project-icon ul li, .open-project-icon ul li a{display:inline;padding:2px}.open-project-icon ul li a{border:1px solid#ccc;text-decoration:none;text-align:center}
.open-project-title{line-height:20px;padding: 5px}.mysound{width:0px;height:0px}.xamzo-side-right{float:left;width:20%}form#range-date{position:relative;right:0px;padding:5px 10px;margin-top:10px;background:#555 url(../img/xamzo-bg-texture.png)repeat;cursor:pointer;color:#fff}form#range-date a,form#range-date span{color:#fff}form#range-date .dropdown-target input[type="text"]{display:inline;width:29.5%}
form#range-date .dropdown-target{z-index:8 !Important;display:none;width:300px;padding:5px;right:4px;top:35px!important;width:292px;padding:5px}div.label-print{position:absolute;right:160px;top:15px;width:110px}div.label-print a{font-size:24px;position:relative;top:1px;padding:5px;color:#2D9806}.xamzo-relative-menu{position:relative;display:none}.xamzo-relative-menu div.arrow-up{border-bottom:10px solid#333;opacity:0.9;right:33px;top:-10px}.date-call div.arrow-up{border-bottom:10px solid#fff;opacity:0.9;right:27px;top:-15px}ul.xamzo-single-menu{margin:0px;padding:0px;background:#333;opacity: .9;color:#fff;width:100%}ul.xamzo-single-menu li a{color:#fff;padding-right:1px}ul.xamzo-single-menu li:last-child{border-bottom:1px solid#ccc}.date-call, .date-call span, .date-call a{color:#333!Important}.xamzo-option-print{text-align:center;padding:10px 0}.xamzo-option-print a{float:left;text-align:center;margin-left:1%;padding:10px;width:25%;font-size:24px}.xamzo-option-print a i, .xamzo-option-print a span{display:inline-block;color:#333}.xamzo-option-print a:hover, .xamzo-option-print a:hover i, .xamzo-option-print a:hover span{background:#333;opacity: .8;color:#fff}.xamzo-option-print a span{font-size:12px;line-height:18px}.box-good-view-al{position:relative}
.box-good-view-al img{border:1px solid#ccc;position:absolute;z-index:3;position:absolute;left:-7px;top:21px;background:#fff;box-shadow:5px 5px 5px#ccc}.box-good-view-al form{float:left}
.child-tab .box-good-view-al img{left:-10px}
.box-good-view-al .arrow-left{position:absolute;left:-7px;top:11px;z-index:1;border-right:9px solid#bbb}.hover-icon-upload{position:absolute;width:100%;float:left;height:100%;z-index:5;text-align:center;display:none}.hover-icon-upload i{position:relative;top:45px;left:-14px;padding:10px;background:#333;color:#ccc;opacity: .7;cursor:pointer}.box-good-view-al:hover img{opacity: .5}.box-good-view-al:hover .arrow-left{opacity: .2}.box-good-view-al:hover .hover-icon-upload{display:block}.slide-plan{width:83%;float:left;margin-top:6px}.slider-input{border:0!Important;background:#fdfdfd!Important;font-weight:bold!Important;float:left!Important;width:100%!Important}input.x-slide{border:none!important;border-bottom:1px dotted#ccc!Important;background:#fdfdfd}input.x-slide-w{border:none!important;border-bottom:1px dotted#ccc!Important;background:#fff}div[data-id^="pic-"],div[data-id^="patner-"]{margin-top:16px;width:79%!Important;float:left}input.math-persen{width:16%!Important;float:left!Important;padding-left:2%!important;border:none!important;margin-top:12px!important;text-align:center!important;vertical-align:middle!important}.data-fix-label label{position:absolute;top:-16px;z-index:1000}input[type="number"]{position:relative;top:2px}input.x-input{background:#fff!Important;width:50%!Important;border:none}span.x-label{width:25%;float:left;text-transform:uppercase}#calendar{width:65%;float:left;padding-left:1%;border-left:1px solid#ccc}.opt-calendar{float:left;width:31%;padding:5px 1% 5px 0;line-height:25px}.opt-calendar h3{font-size:16px;margin-top:20px;border-bottom:1px solid#ccc}.opt-calendar ul{margin:0px;padding:0px}.opt-calendar ul li{float:left;width:100%;text-decoration:none}
.child-tab .box-good-view-al .arrow-left{left:-10px}
.opt-calendar ul li a{float:left;width:85%;line-height: 15px;text-decoration: none;font-size: 11px;margin-top: 2px;font-weight: bold;}
.opt-calendar ul li span.idate{font-size:10px;color:#666;float: left;margin-top: -5px;}.modal #calEvent label.control-label{float:left;width:16%;font-weight: bold; text-align: right;color: #333}
.modal #calEvent span.display-l, .modal #calEvent input[readonly="true"], .modal #calEvent textarea[readonly="true"]
{background:#fff;border:none;color:#111;font-size: 12px}
.modal #calEvent span.display-l{width:75%;float:left;border-bottom:none!important;color:#111;font-size:12px;margin-left: 3px;}.modal .ecp{float:left;width:65%}#c-inline-form #calEvent span.display-l,#c-inline-form #calEvent input[readonly="true"],#c-inline-form #calEvent textarea[readonly="true"]
{background:#fff;border:none;color: #111;font-size: 12px;}#c-inline-form #calEvent span.display-l{width:63%;float:left;border-bottom:none!important;color:#111;padding:3px}
#c-inline-form #calEvent label.control-label{float:left;width:20%;font-weight: bold;padding: 1px}#c-inline-form #calEvent p{float:left;width:100%;margin-bottom:5px}#c-inline-form .line-footer{border-top:1px solid#ccc;float:left;width:100%;padding:10px 0;margin-bottom:30px}#c-inline-form .ecp{float:left;width:70%;margin-bottom:10px}.ecp-rb-color{float:left;width:15px;height:15px;margin:2px 2px 2px 0;cursor:pointer;opacity:0.5}ul#list-calendar .ecp-rb-color{margin:5px}.ecp-rb-color:hover{opacity:1}.ecp-rb-selected{border:2px inset#ff3333;width:11px!important;height:11px!important;opacity:1}ul#list-calendar li:hover .ecp-rb-color{opacity:1}#num-no,#num-co{position:absolute;top:-15px;font-size:12px;width:25px;height:25px;color:#fff;text-align:center;background:#D22626;border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-webkit-border-radius:50%;-o-border-radius:50%}.enable-dd{position:absolute;z-index:10000;width:200px;height:30px;background:#f9f9f9;opacity: .5}ul.user-info li{display:block;width:100%;float:left;border-bottom:1px solid#ccc}ul.user-info li a{float:left;width:100%}ul.st-data-user{margin:5px;padding:0px;width:100%;float:left;margin-bottom:30px}ul.st-data-user li{display:block;width:98%;float:left;border-bottom:1px solid#ccc}h3.st-head{padding:5px 0 5px 5px;width:100%;float:left;font-size:16px!Important;border-bottom:1px solid#ccc}modal-body ul.in-data-notif-list li{width:100%!important}.modal-body ul.in-data-notif-list li .n-center p{margin:0!Important;padding:5px 0px}.modal-body ul.in-data-notif-list{margin:0 25px}.modal-body ul.in-data-notif-list li:last-child{border-bottom:1px solid#ccc}.modal-body ul.in-data-notif-list li .n-left{width:54px!Important}.modal-body ul.in-data-notif-list li .n-center{width:87%!important}ul.box-chart-num,ul.box-chart-tot{list-style:none;width:100%;margin:0px;padding:0pc}ul.box-chart-num li{width:48.5%;margin:0px 1.5% 1% 0;float:left;cursor:pointer}ul.box-chart-tot li{width:99%;margin:1% 0;float:left;cursor:pointer}ul.box-chart-tot li:hover,ul.box-chart-num li:hover{background:#f7f7f7}ul.box-chart-num li span,ul.box-chart-tot li span{font-size:25px;color:#555}ul.box-chart-num li div,ul.box-chart-tot li div{width:99%;float:left;padding:30px 0;text-align:center;border:1px solid#bbb}h3.head-stat{border-bottom:3px solid#65BA49;padding:5px 2% 8px 2%;font-size:16px;font-weight:normal;margin-bottom:10px;float:left;width:96%;height:24px}h3.head-stat span.right{cursor:pointer;font-size:12px!important}h3.head-stat span.right a[class^="tip"]{padding:7px 0px 7px 0px}h3.head-stat span.right a[class^="tip"]i{padding:0 7px 0 0px}ul.list-top,ul.list-top li,div.list-top ul,div.list-top ul li{float:left;width:100%;margin:0px;padding:0px}ul.list-top li,div.list-top ul li{border-bottom:1px solid#ddd;padding:0px 2%;width:96%;cursor:pointer}ul.list-top li p,div.list-top ul li p{width:96%;padding:5px 2%;float:left;line-height:20px;font-size:11px}ul.list-top li img,div.list-top ul li img{border-radius:50%;position:relative;top:0px;left:-8px}ul.list-top li:first-child,div.list-top li:first-child{margin-top:-10px}ul.list-top li:hover,div.list-top li:hover{background:#f9f9f9}ul.list-top li span.i,div.list-top li span.i{position:relative;top:5px;font-size:11px;left:-10px}ul.list-top li p span:first-child,div.list-top li p span:first-child{font-size:13px}ul.list-top li p span,div.list-top li p span{float:left;width:100%}ul.list-top li p span.a-time,div.list-top li p span.a-time{color:#aaa}a.a-calendar,a.a-reminder{text-decoration:none;color:#222;padding:10px;position:relative;top:0px;border-bottom:none!Important}input.in-reminder{box-shadow:none;border:none!important;border-radius:0px}a.a-calendar.selected,a.a-reminder.selected{background:#fff;border:1px solid#ccc;border-bottom:1px solid#fff;font-weight:bold;top:3px;border-top:3px solid#65BA49}div.in-all-calendar,div.in-all-reminder{margin-bottom:10px;padding:0px}
.box-comment{float:left;width:100%;line-height:25px;color:#555}.box-comment .text-comment{min-height:50px;border:1px solid#ccc;padding:5px 1%;float:left;width:98%}
.box-comment .block-action{display:inline-block;width:100%;text-align:right}
.box-comment .block-action a{display:inline-block;padding:5px;color:#fff;text-decoration:none;margin: 5px 0 0 0}.list-comment{display:inline-block;margin-top:10px;width:100%;position:relative}
.modal .box-comment .block-action a{margin:0px 3px 2px 0}
.box-comment .block-action a.a-files{
    color: #333;
    font-weight: bold;
    font-size: 12px;
    border-radius: 2px;
    text-align: center;
    height: 23px;
    margin: 0px;
}
.box-comment .block-action a.a-files:hover{
    background: #f0f0f0;
    min-width: 15px;
    margin: 4px 2px 0 0;
    padding: 1px 5px 1px 6px;
    border: 1px solid #bbb;
}
.task-section-upload {
    position: absolute;
    right: 12px;
    margin-top: -26px;
    z-index: 8;
}
.modal .task-section-upload{
    right: 20px;
}
.task-section-upload a{
    margin-left: 8px;
    font-size: 11px;
}
.box-comment.in-state{margin: -25px 0 0;}
.data-photo{display:inline-block;width:35px;height:35px;margin-top:5px;background:#fff;vertical-align:top}
.block-reply .data-photo{width:30px;height:30px}.data-photo img{width:100%;height:100%}
.data-detil{display:inline-block;vertical-align:top;width:87%;padding:0px .5%}
.data-file{display:inline-block;vertical-align:top;padding:0px .5%;width:100%;}
.data-file ul li{
    border-bottom: 1px dotted #ccc !Important;
}
.data-file ul li .left a{
    text-decoration: none;
}
.data-file ul li .left a:hover{
    text-decoration: underline;
}
.data-file ul li .right{
    display: none;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.data-file ul li:hover .right{
    display: block;
}
.data-user{font-weight:bold;margin-top: 2px}.data-time{font-size:11px;color:#666;padding:0 5px 0 0}.data-time a{text-decoration:none;color:#3b5998;padding-right:10px}.data-time a:hover{text-decoration:underline}#all-data-comment, .data-comment{line-height:20px;font-size:12px}.data-reply{float:left;width:88%;padding:5px;margin-left:37px;background:#f9f9f9}.inline-reply{border-top:1px dotted#ccc}.inline-reply:first-of-type{border-top:none}.add-reply{padding-top:5px}
.text-reply,.task-text-reply{width:98.7%;min-height:30px;background:#fff;padding:1px 3px;border:1px solid#ccc}.data-action{position:absolute;padding:5px;right:1px}.data-action a{visibility:hidden;text-decoration:none;color:#444}.inline-reply:hover div> .data-action a, .data-comment:hover> .data-action a{visibility:visible}.data-alert{padding:5px 0;display:inline-block;text-align:center;width:100%;margin-bottom:5px}
blockquote.style1{font:14px/20px italic Times,serif;float:left;width:94%;margin: 5px; padding:8px;background-color:#faebbc;border:1px solid#e1cc89;background-image:url(../img/openquote1.gif);background-position:top left;background-repeat:no-repeat;text-indent:23px}blockquote.style1 span{display:block;background-image:url(../img/closequote1.gif);background-repeat:no-repeat;background-position:bottom right}.custom-auth{display:none;position:absolute;bottom:50px;left:5px;width:100px;z-index:100;background:#fff}.custom-auth ul{float:left;list-style:none;margin:0px;padding:0pc;box-shadow:10px 5px 5px#ccc;border-top:1px solid#ccc;border-left:1px solid#ccc}.custom-auth ul li{float:left;width:100%}.custom-auth ul li a{padding:3px 2%;text-decoration:none;color:#555;font-size:12px;border-bottom:1px solid#ccc;width:97%;float:left;text-align:left!important}.custom-auth ul li:last-child a{border-bottom:none}.custom-auth .arrow-up{border-top:10px solid#bbb;position:absolute;bottom:-10px;left:10px}.custom-auth ul li a:hover{background:#5A510A;color:#fff}#file-bukti,#file-photo{float:left;width:100%;padding:20px 0px;text-align:center;border:1px solid#ccc;cursor:pointer}a.monitor-bukti,span.dt-title{padding:7px 1px;top:4px;position:relative}span.space-year{margin-top:-1px;float:left;margin-right:5px;position:relative;z-index:10}span.in-year{float:left;width:65px;margin:1px 25px 0 0;position:relative;z-index:10}.hang-action{float:left;padding:5px;position:relative;right:-10px;z-index:8}.in-hang-action{position:relative;top:20px;float:left}.rs-dashboard{float:left;width:100%;padding-top:10px;margin-top:10px;border-top:1px solid#ccc}li#next,li#prev{font-size:22px;font-weight:bold;padding:3px 10px 4px}.modal-notice{border-top:1px solid#bbb;padding:10px 0px!Important;width:100%!important}.modal-notice ul li a{text-decoration:none}.modal-notice ul.in-data-notif li, .modal-notice ul.in-data-comment li, .modal-notice ul.in-data-notif-list a{width:auto!important}.modal-notice ul.in-data-notif-list li .n-right a{padding:2px 5px!important;margin-left:1px;font-size:10px}.modal-notice ul.in-data-notif li,.modal-notice ul.in-data-comment li, .modal-notice ul.in-data-notif-list li{width:98%!Important}.modal-notice ul.in-data-notif-list{float:left;width:98%;padding:0px 2%;margin-left:50px}.modal-notice ul.in-data-notif-list li .n-center{width:80%!important}.modal-notice ul.in-data-notif-list li .n-right{width:43px!important}a.load-more-notice{text-align:center;float:left;width:100%}#circularG{position:relative;width:128px;height:128px}.circularG{position:absolute;background-color:#34B206;width:29px;height:29px;-moz-border-radius:19px;-moz-animation-name:bounce_circularG;-moz-animation-duration:1.04s;-moz-animation-iteration-count:infinite;-moz-animation-direction:normal;-webkit-border-radius:19px;-webkit-animation-name:bounce_circularG;-webkit-animation-duration:1.04s;-webkit-animation-iteration-count:infinite;-webkit-animation-direction:normal;-ms-border-radius:19px;-ms-animation-name:bounce_circularG;-ms-animation-duration:1.04s;-ms-animation-iteration-count:infinite;-ms-animation-direction:normal;-o-border-radius:19px;-o-animation-name:bounce_circularG;-o-animation-duration:1.04s;-o-animation-iteration-count:infinite;-o-animation-direction:normal;border-radius:19px;animation-name:bounce_circularG;animation-duration:1.04s;animation-iteration-count:infinite;animation-direction:normal}#circularG_1{left:0;top:50px;-moz-animation-delay:0.39s;-webkit-animation-delay:0.39s;-ms-animation-delay:0.39s;-o-animation-delay:0.39s;animation-delay:0.39s}#circularG_2{left:14px;top:14px;-moz-animation-delay:0.52s;-webkit-animation-delay:0.52s;-ms-animation-delay:0.52s;-o-animation-delay:0.52s;animation-delay:0.52s}#circularG_3{top:0;left:50px;-moz-animation-delay:0.65s;-webkit-animation-delay:0.65s;-ms-animation-delay:0.65s;-o-animation-delay:0.65s;animation-delay:0.65s}#circularG_4{right:14px;top:14px;-moz-animation-delay:0.78s;-webkit-animation-delay:0.78s;-ms-animation-delay:0.78s;-o-animation-delay:0.78s;animation-delay:0.78s}#circularG_5{right:0;top:50px;-moz-animation-delay:0.91s;-webkit-animation-delay:0.91s;-ms-animation-delay:0.91s;-o-animation-delay:0.91s;animation-delay:0.91s}#circularG_6{right:14px;bottom:14px;-moz-animation-delay:1.04s;-webkit-animation-delay:1.04s;-ms-animation-delay:1.04s;-o-animation-delay:1.04s;animation-delay:1.04s}#circularG_7{left:50px;bottom:0;-moz-animation-delay:1.17s;-webkit-animation-delay:1.17s;-ms-animation-delay:1.17s;-o-animation-delay:1.17s;animation-delay:1.17s}#circularG_8{left:14px;bottom:14px;-moz-animation-delay:1.3s;-webkit-animation-delay:1.3s;-ms-animation-delay:1.3s;-o-animation-delay:1.3s;animation-delay:1.3s}@-moz-keyframes bounce_circularG{0%{-moz-transform:scale(1)}100%{-moz-transform:scale(.3)}}@-webkit-keyframes bounce_circularG{0%{-webkit-transform:scale(1)}100%{-webkit-transform:scale(.3)}}@-ms-keyframes bounce_circularG{0%{-ms-transform:scale(1)}100%{-ms-transform:scale(.3)}}@-o-keyframes bounce_circularG{0%{-o-transform:scale(1)}100%{-o-transform:scale(.3)}}@keyframes bounce_circularG{0%{transform:scale(1)}100%{transform:scale(.3)}}ul#in-photo{margin:0px;padding:0px;list-style:none;background:#f9f9f9;border:1px solid#ccc;float:left;width:97%;padding:5px 5px 0 5px;margin-bottom:5px}ul#in-photo li{float:left;width:31.3%;padding:0.5%;margin:5px 0.5%;position:relative}table td ul#in-photo{background:none;border:none;border-bottom:1px solid#ccc}table td ul#in-photo li{width:14.6%}ul#in-photo li img{width:100%}ul#in-photo li a{position:absolute;right:0px;top:0px;padding:0 5px;border:1px solid#ff0000;background:#ff0000;color:#fff}table td ul#in-photo li a{position:static;right:auto;top:auto;padding:0px!Important;border:none;background:none}
a.sm-active{background:#111!important;border-color:#111!important;color:#fff}
.connection-off{position:absolute;height:100%;width:100%;top:0px;left:0px;z-index:1000}.connection-off div.state{position:absolute;height:100%;background:#f0f0f0;opacity:0.7;z-index:100;float:left;width:100%;top:0px;left:0px}.connection-off div.p{float:left;position:fixed;bottom:-12px;width:250px;background:#333;padding:10px 10px 0;line-height:25px;color:#000;text-align:left;z-index:100;border-top:1px solid#bbb}.connection-off div.p h3, .connection-off div.p p, .connection-off div.p p a{color:#fff;padding:5px 0;margin:0px}.connection-off div.p p{padding-bottom:10px}.xamzo-stage{position:relative;width:100%;text-align:left;border-bottom:1px solid#ccc;float:left;height:30px;margin:-20px 0 20px 0}.xamzo-stage a{position:relative;top:15px;display:inline-block;border-radius:2px;background:#fff;color:#2D9806;padding:0 5px;border:1px solid#ccc;text-decoration:none;margin:0px 2.5px;line-height:20px;font-size:11px}.xamzo-stage a:first-of-type{margin-left:8px}.xamzo-stage a.selected{background:#65BA49;border:1px solid#65BA49;color:#fff}
.custom-combobox{position:relative;display:inline-block;width:98%;margin-bottom:2px}#box-pic span.custom-combobox{width:38%} 
.custom-combobox input{padding:6px 5px 4px 5px !Important;width:94%;border-radius:2px;font-size:12px;margin:0px;border:1px solid#bbb!important;max-height:12px}table.custom-combobox input{padding:4px!important}
.custom-combobox-toggle{position:absolute;top:0px;margin-left:-1px;bottom:0;padding:0;height:24px}.modal .custom-combobox{top:1px}
.xamzo-block.small .custom-combobox-toggle{position:absolute;top:2px;}
.modal .custom-combobox input{font-size:11px;padding-top:5px;min-height:12px;position: relative;top:0px}.modal table.custom-combobox input{font-size:12px;padding:7px}
.modal .custom-combobox-toggle{top:0px!Important}.ui-button-icon-primary.fa-triangle-1-s{background-position:-65px 5px!Important}.custom-combobox-input{margin:0;padding:0.3em 0 0.3em 16px}.ui-menu-item{margin:0;padding:0;width:100%}.ui-menu-item a{text-decoration:none;display:block;padding:2px.4em;line-height:1.5;font-size:14px;min-height:0;font-weight:normal}.ui-menu .ui-menu-item a.ui-state-focus,.ui-menu .ui-menu-item a.ui-state-active{font-weight:normal;margin:-1px}.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus{background:#6EC053 url(../img/xamzo-bg-texture.png)repeat;font-weight:normal;color:#fff}.ui-state-hover a,.ui-state-hover a:hover,.ui-state-hover a:link,.ui-state-hover a:visited{color:#fff;text-decoration:none}
.modal .box-comment .text-comment { 
    width: 96%;
    margin: 5px 1%;
}
ul.notif-comments .my-chat .n-center a, ul.notif-comments .my-chat .n-center span.n-date{
    font-size: 12px;
    margin-left: 0px;
    padding: 0px 5px;
}
th.no-in{
    float: left;
    width: 35px;
    text-align: center;
    margin-top: 14px; 
}
table#mainListProject{
    width: 98%;
}
table#mainListProject tr td, table#mainListProject tr td+td{
    padding: 5px 0px !Important;
}
table#mainListProject tr td a, table#mainListProject tr td+td a{
    text-decoration: none;
    font-weight: normal;
}
table#mainListProject tr td a:hover, table#mainListProject tr td+td a:hover{
    text-decoration: underline;
}
.max-300{
    max-height: 350px;
    min-height: 350px;
    overflow: hidden;
}
.float-right{float: right}
.max-300-overflow{
    max-height: 300px;
    min-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.max-500-overflow{
    max-height: 500px;
    min-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.max-270-overflow{
    max-height: 270px;
    min-height: 270px;
    overflow-y: auto;
    overflow-x: hidden;
}
/*dashboard*/
.user-dashboard-proyek{
    border-left: 1px solid #ccc; 
    padding-left: 10px;
    min-height: 800px;
    max-height: 800px;
}
.user-dashboard-proyek-overflow{ 
    float: left;
    width: 100%;
    max-height: 750px;
    min-height: 750px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 10px;
    margin-top: -15px;
}
.xamzo-meeting-header, .xamzo-task-header{
    border-bottom: 1px solid #ccc;
    float: left;
    width: 100%;
    padding: 5px 0;
    margin-bottom: 10px;
}
.in-xamzo-section-head{
    font-weight: normal;
    padding: 10px 0 0 0;
    font-size: 24px;
}
.xamzo-meeting-category, .xamzo-task-category{
    float: left;
    width:100%;
}
.xamzo-meeting-category-title, .xamzo-task-category-title{
    float: left;
    width: 100%;  
    padding: 5px 0;
}
.xamzo-meeting-category-title .title, .xamzo-task-category-title .title{
    font-size: 16px;
    font-weight: normal;
}
#all-data-comment{
    float: left;
    width: 59%;
    padding-right: 2%;
    min-height: 300px;
    border-right: 1px solid #ccc;
}
#all-data-task{
    float: left;
    width: 48%;
    min-height: 300px;
    padding-left: 2%;
    border-left: 1px solid #ccc;
}
#xamzo-meeting-list-category{
    width: 37%;
    padding-left: 1%;
    float: left;
}
#xamzo-task-list-category{
    width: 47%;
    padding-right: 2%;
    float: left;
}
#xamzo-meeting-list-category ul, #xamzo-task-list-category ul{
    float:left;
    width: 100%;
    margin: 0px;
    padding: 0px;
} 
#xamzo-meeting-list-category ul li, #xamzo-task-list-category ul li{
    float:left;
    width: 98.2%;
    padding: 0 1%;
    line-height: 20px;   
}
#xamzo-task-list-category ul{
    border-top: 1px solid #ccc;
}
#xamzo-meeting-list-category ul li:last-child{
    border-bottom: 1px solid #ccc; 
}
#xamzo-meeting-list-category ul li{
    padding-left: 2%;
    width:97%;
}
#xamzo-meeting-list-category ul li.selected{ 
    border-left: 4px solid #329B0B;
    margin-left: -1px;
    width: 97.6%;
    padding-left: 1%;
}
#xamzo-meeting-list-category ul li span.right, #xamzo-task-list-category ul li span.right,  ul.sub-draft-task li span.right{
    display: none;
}
#xamzo-meeting-list-category ul li span.right a.btn, #xamzo-task-list-category ul li span.right a.btn{
    padding: 0px 3px;
    font-size: 11px;
}
#xamzo-meeting-list-category ul li:hover span.right{
    display: block;
}
#xamzo-task-list-category ul li .full-stack:hover span.right, ul.sub-draft-task li:hover span.right{
    display: block !Important;
}
#xamzo-meeting-list-category ul li a i.fa, #xamzo-task-list-category ul li a i.fa{
    font-size: 9px;
}
#xamzo-task-list-category ul li{
    border-bottom: 1px solid #ccc;
}
.xamzo-alert{
    padding: 5px;
    display: block;
    width:100%;
}
.xamzo-alert .alert{
    float: left;
    width: 98%;
    padding: 5px;
    text-align: center;
    font-size: 13px;
    background: #FDECEC;
    border: 1px solid #cc0033;
}
.xamzo-alert .info{
    float: left;
    width: 98%;
    padding: 5px;
    text-align: center;
    font-size: 13px;
    color: #28A000;
    background: #F0FFEF;
    border: 1px solid #70C026;
}
#draft-meeting, #draft-task{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
} 
#draft-meeting li{
    border-top: 1px solid #ccc;
    cursor: pointer;
}
span.in-txt{
    position: relative;
    top: 10px;
}
span.out-txt{
    position: relative;
    top:5px;
}
span.in-txt.head-txt{
    font-size: 14px;
}
span.a-link{
    cursor: pointer;
}
span.in-txt.head-txt:hover{
    text-decoration: underline;
}
span.in-right{
    margin-top: 10px;
}
ul.sub-draft-task{
    margin-left: 6% !important;
    width: 94% !important;
    min-height: 10px;
    border: none !important; 
    border-left: 1px solid #ccc !important; 
}
ul.sub-draft-task li:first-child{
    border-top:1px solid #ccc;
}
ul.sub-draft-task li{
    border-top:none!important;
    border-bottom: 1px solid #ccc!important;
} 
ul.sub-draft-task li:last-child{
    border-bottom:none!important;
}
ul#draft-task li:last-child{
    border-top:none !important;
}
span.task-state-left{
    float: left;
    width:30px;
    margin-left: -18px;
}
span.task-state-right{
    float: left;
    line-height: 20px;
    margin-top: 8px;
    padding-bottom: 5px;
}
span.task-state-right .txt:hover{
    text-decoration: underline;
}
span.task-state-right .txt{
    font-size: 12px;
}
span.task-state-right .to-user, span.task-state-right .due-date{
    font-size: 10px;
    color: #555;
    background: #FDFDF5;
    border: 1px solid #E5ED9C;
    border-radius: 2px;
    padding: 2px;
}
ul#draft-task li.selected {
    border-right: 4px solid #339C0D;
    width: 97.2%;
}
ul#draft-task .full-stack.selected {
    border-right: 4px solid #339C0D;
    width: 100.2%;
}
.sub-draft-task li.selected{ 
    width: 98% !important;
}
.full-stack{
    float: left;
    width: 100.7%;
    border-bottom: 1px solid #ccc;
    margin-left: -1%;
    padding-right: 1%;
    background: #f9f9f9;
}
.xamzo-state-tl{
    float: left;
    width: 100%;
}
.xamzo-state-tl ul{
    margin: 0px;
    padding: 0px;
    float: left;
    width: 100%; 
}
.xamzo-state-tl ul li span.task-state-left{
    margin-left: -14px;
}
.xamzo-state-tl ul li span.right a.btn{
    padding: 0px 3px;
    font-size: 11px;
}
.xamzo-state-tl ul li span.right i.fa{
    font-size: 9px;
}
.xamzo-state-tl ul li{
    border-bottom: 1px solid #ccc !Important;
    float: left;
    width: 100%;
} 
/*end socket*/
#flash{position:fixed;bottom:50px;z-index:100;border-radius:5px;padding:0 10px;left:10px;max-width: 300px;}
.alert-success{
    background: #ccffcc;
    padding: 10px;
    border-radius: 3px;
    line-height: 19px;
    color: #245924;
    box-shadow: 1px 1px 7px 5px #97CB86;
}
ul.in-upload-file{
    margin: 0px;
    padding: 0px;
    line-height: 24px;
    font-size: 10px;
}
ul.in-upload-file li {
    padding: 0px;
    height: 15px;
    float: left;
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin: 0px;
    padding-bottom: 5px;
}
.x-loading #floatingBarsG{
    float: left;
    width:10px;
    margin-right: 5px;
}
.maxMinCalendar{
    position: absolute;
    left:30%;
    top:10px;
}  
table.hack-table tr, table.hack-table tr+tr, table.hack-table td, table.hack-table td+td, table.hack-table th, table.hack-table th+th{
    padding: 0px !Important;
    padding: 0 2px 0 3px !important;
    font-size: 11px;
    line-height: 15px;
} 
table.hack-table th, table.hack-table th+th{
    height: 20px;
    text-align: center;
    font-size: 11px;
    background: #f9f9f9;
}
table.hack-table td input.float.no-border, table.hack-table td input.color{
    border: none !important;
    padding: 0px;
    background: #FFFFA5;
    width: 95% !important;
    margin: 2px 0px;
    height: 97%;
    text-align: right;
    font-size: 9px;
}
table.hack-table td input.float{
    display: none;
}
table.hack-table td#D21 input.float,
table.hack-table td#O21 input.float,
table.hack-table td#D24 input.float,
table.hack-table td#D22 input.float, table.hack-table td#I21 input.float,table.hack-table td#I22 input.float, table.hack-table td#O22 input.float{
    display: block!important;
}
table.hack-table td input[readonly="true"]{
    background: transparent;
    text-align: right;
    font-size: 9px;
}
ul.list-dashboard{
    padding-top: 30px;
    list-style: none;
    text-align: center;
    border-top: 1px solid #ccc;
}
ul.list-dashboard li{
    float: left;
    width: 20%;
}
ul.list-dashboard li a{
    float: left;
    padding: 30px 10px;
    text-align: center;
    text-decoration: none;
    width: 118px;
    border: 1px solid #ccc;
}
ul.list-dashboard li:hover a{  
    box-shadow: -7px -8px 5px -4px #ccc;
    -moz-box-shadow: -7px -8px 5px -4px #ccc;
    -webkit-box-shadow: -7px -8px 5px -4px #ccc;
    -o-box-shadow: -7px -8px 5px -4px #ccc;
    -ms-box-shadow: -7px -8px 5px -4px #ccc;
}
ul.list-dashboard li a i{
    font-size: 32px;
    color: #008000;
    display: block;
}
ul.list-dashboard li a span{
    display: block;
    text-align: center;
}
#crud-target{
    overflow-y: auto;
}
span.is-login{height:5px;width:5px!Important;border-radius:50%;position:relative;top:9px}.st-data-user span.is-login,.chatboxtitle span.is-login{top:0px;display:inline-block}span.icon-active{border:1px solid#008000;background:#008000}span.icon-inactive{border:1px solid#ccc;background:#ccc}